@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Colors */
:root {
    --primary: #F0D300;
    --secondary: #5F256E;
    --dark: #222222;
    --light: #ffffff;
}

/* Fonts */
*{
    color: var(--dark);
}

/* Fullscreen */
html, body, .App, .Game, .View, #root {
    height: 100%;
}

/* Views */
.View{
    padding: 2rem;
}
.View.yellow{
    background-color: var(--primary);
}
.View.purple{
    background-color: var(--primary);
}

/* Styles for individual components */

/* Shapes */
.HorizontalLine{
    border-bottom: 2px solid black;
    margin-left: 20; 
    margin-right: 20;
    padding: 1rem;
    width: 100%;
}

/* Text */
.BigTitle{

}
.Title{

}
.Paragraph{
    
}
.SpeechBubble{

}

/* Buttons */
.RoundedButton{

}
.RoundedButton.default{
    background-color: var(--secondary);
    color: var(--light)
}
.RoundedButton.alt{
    background-color: var(--primary);
}
.SneakyButton{
    background: none;
    border: none;
}
.ViewSourceButton{
    background: none;
    border: none;
    color: red;
}

/* Infographics */
.SupportBar{
    
}
.SupportBar.Bar{
    height: 20px;
    text-align: center;
    border-radius: 5px 0 0 5px;
}
.CaseCircle{
    border-radius: 50%;
}
.CaseCircle.Old{
    background-color: yellow;
}
.CaseCircle.New{
    background-color: red;
}

/* Reactions */
.Reaction{
    position: relative;
}
.ReactionFace{
    position: absolute;
    top: 0;
    left: 0;
}